{"kernel":"$kernel", "length_scale":"$length_scale", "noize":"$noize", "bias":"$bias", "nu":"$nu", "testset_fraction":"$testset_fraction", "n_iter": "$n_iter", "process_type":"$process_type", "backend":"$backend"}
